
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script src="../js/jquery-1.9.1.min.js"></script>
    <link href="../js/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../js/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../js/files/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../js/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="../js/resources/scripts/axure/axQuery.js"></script>
    <script src="../js/resources/scripts/axure/globals.js"></script>
    <script src="../js/resources/scripts/axutils.js"></script>
    <script src="../js/resources/scripts/axure/annotation.js"></script>
    <script src="../js/resources/scripts/axure/axQuery.std.js"></script>
    <script src="../js/resources/scripts/axure/doc.js"></script>
    <script src="../js/resources/scripts/messagecenter.js"></script>
    <script src="../js/resources/scripts/axure/events.js"></script>
    <script src="../js/resources/scripts/axure/recording.js"></script>
    <script src="../js/resources/scripts/axure/action.js"></script>
    <script src="../js/resources/scripts/axure/expr.js"></script>
    <script src="../js/resources/scripts/axure/geometry.js"></script>
    <script src="../js/resources/scripts/axure/flyout.js"></script>
    <script src="../js/resources/scripts/axure/model.js"></script>
    <script src="../js/resources/scripts/axure/repeater.js"></script>
    <script src="../js/resources/scripts/axure/sto.js"></script>
    <script src="../js/resources/scripts/axure/utils.temp.js"></script>
    <script src="../js/resources/scripts/axure/variables.js"></script>
    <script src="../js/resources/scripts/axure/drag.js"></script>
    <script src="../js/resources/scripts/axure/move.js"></script>
    <script src="../js/resources/scripts/axure/visibility.js"></script>
    <script src="../js/resources/scripts/axure/style.js"></script>
    <script src="../js/resources/scripts/axure/adaptive.js"></script>
    <script src="../js/resources/scripts/axure/tree.js"></script>
    <script src="../js/resources/scripts/axure/init.temp.js"></script>
    <script src="../js/resources/scripts/axure/legacy.js"></script>
    <script src="../js/resources/scripts/axure/viewer.js"></script>
    <script src="../js/resources/scripts/axure/math.js"></script>
    <script src="../js/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../js/data/document.js"></script>
    <script src="../js/files/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u0" class="ax_default">
        <div id="u0_state0" class="panel_state" data-label="State1" style="">
            <div id="u0_state0_content" class="panel_state_content">

                <!-- Unnamed (Image) -->
                <div id="u1" class="ax_default image">
                    <img id="u1_img" class="img " src="../js/images/u1.png"/>
                    <div id="u1_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u2" class="ax_default" data-left="1226" data-top="152" data-width="358" data-height="470">

        <!-- Unnamed (Rectangle) -->
        <div id="u3" class="ax_default box_3">
            <div id="u3_div" class=""></div>
            <div id="u3_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u4" class="ax_default paragraph">
            <div id="u4_div" class=""></div>
            <div id="u4_text" class="text ">
                <p><span>用户登陆</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u5" class="ax_default" data-left="1255" data-top="447" data-width="313" data-height="20">

            <!-- Unnamed (Rectangle) -->
            <div id="u6" class="ax_default paragraph">
                <div id="u6_div" class=""></div>
                <div id="u6_text" class="text ">
                    <p><span>忘记密码？</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7" class="ax_default paragraph">
                <div id="u7_div" class=""></div>
                <div id="u7_text" class="text ">
                    <p><span>快速注册</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8" class="ax_default" data-left="1272" data-top="496" data-width="296" data-height="20">

            <!-- Unnamed (Rectangle) -->
            <div id="u9" class="ax_default box_1">
                <img id="u9_img" class="img " src="../js/images/u9.svg"/>
                <div id="u9_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10" class="ax_default paragraph">
                <div id="u10_div" class=""></div>
                <div id="u10_text" class="text ">
                    <p><span>其他登陆方式</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11" class="ax_default box_1">
                <img id="u11_img" class="img " src="../js/images/u9.svg"/>
                <div id="u11_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u12" class="ax_default" data-left="1294" data-top="534" data-width="243" data-height="54">

            <!-- Unnamed (Group) -->
            <div id="u13" class="ax_default" data-left="1294" data-top="534" data-width="51" data-height="54">

                <!-- Unnamed (Shape) -->
                <div id="u17" class="ax_default shape">
                    <img id="u17_img" class="img " src="../js/images/u17.svg"/>
                    <div id="u17_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18" class="ax_default paragraph">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>微信</span></p>
                    </div>
                </div>
            </div>
            <!-- Unnamed (Group) -->
            <div id="u19" class="ax_default" data-left="1496" data-top="534" data-width="41" data-height="54">

                <!-- Unnamed (Shape) -->
                <div id="u20" class="ax_default shape">
                    <img id="u20_img" class="img " src="../js/images/u20.svg"/>
                    <div id="u20_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u21" class="ax_default paragraph">
                    <div id="u21_div" class=""></div>
                    <div id="u21_text" class="text ">
                        <p><span>QQ</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
    <form  id="loginForm">
       <div id="u22" class="ax_default" data-left="1255" data-top="237" data-width="300" data-height="41">

            <!-- Unnamed (Text Field) -->
           <div id="u23" class="ax_default text_field">
                <div id="u23_div"></div>
               <input id="u23_input" name="account" type="text" value="" class="u23_input" placeholder="用户名/手机号"/>

            </div>


           <!-- &lt;!&ndash; Unnamed (Shape) &ndash;&gt;
           <div id="u24" class="ax_default _形状1 disabled">
                <img id="u24_img" class="img " src="../js/images/u24.svg"/>
                <div id="u24_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>-->

            <!-- Unnamed (Rectangle) -->
           <!--<div id="u25" class="ax_default paragraph disabled">
                &lt;!&ndash;<div id="u25_div" class="disabled"></div>
                &lt;!&ndash;<div id="u25_text" class="text ">-->
               <input type="text" placeholder="用户名/手机号">
            <!--    </div>&ndash;&gt;&ndash;&gt;
            </div>-->
        </div>

        <!-- Unnamed (Group) -->
        <div id="u26" class="ax_default" data-left="1255" data-top="299" data-width="300" data-height="41">

            <!-- Unnamed (Text Field) -->
            <div id="u27" class="ax_default text_field">
                <div id="u27_div"></div>
                <input id="u27_input" name="password" type="password" value="" class="u27_input" placeholder="请输入密码"/>

            </div>

            <!-- Unnamed (Shape) -->
        <!--  <div id="u28" class="ax_default _形状1 disabled">
                <img id="u28_img" class="img " src="../js/images/u28.svg"/>
                <div id="u28_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
-->
            <!-- Unnamed (Rectangle) -->
            <!--<div id="u29" class="ax_default paragraph disabled">
                <div id="u29_div" class="disabled"></div>
                <div id="u29_text" class="text ">-->

              <!--  </div>
            </div>-->
        </div>

        <!-- Unnamed (Rectangle) -->
       <div id="u30" class="ax_default box_3">
            <div id="u30_div" class=""></div>
            <div id="u30_text" class="text ">
                <input type="button" value="立即登录" onclick="login()" style="background: none; border: none;">
            </div>
        </div>
    </form>


    <!-- Unnamed (Rectangle) -->
    <div id="u31" class="ax_default paragraph">
        <div id="u31_div" class=""></div>
        <div id="u31_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u32" class="ax_default box_3">
        <div id="u32_div" class=""></div>
        <div id="u32_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (首页icon) -->

    <!-- 首页icon (Dynamic Panel) -->
    <div id="u34" class="ax_default" data-label="首页icon">
        <div id="u34_state0" class="panel_state" data-label="State1" style="">
            <div id="u34_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u35" class="ax_default paragraph">
                    <div id="u35_div" class=""></div>
                    <div id="u35_text" class="text ">
                        <p><span>MI</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="u34_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
            <div id="u34_state1_content" class="panel_state_content">

                <!-- Unnamed (Group) -->
                <div id="u36" class="ax_default" data-left="0" data-top="0" data-width="41" data-height="42">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u37" class="ax_default box_3">
                        <div id="u37_div" class=""></div>
                        <div id="u37_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u38" class="ax_default _形状">
                        <img id="u38_img" class="img " src="../js/images/u38.svg"/>
                        <div id="u38_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="u33" style="display:none; visibility:hidden;"></div>

    <!-- Unnamed (Rectangle) -->
    <div id="u39" class="ax_default paragraph">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u40" class="ax_default paragraph">
        <div id="u40_div" class=""></div>
        <div id="u40_text" class="text ">
            <p><span>小米商城</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u41" class="ax_default paragraph">
        <div id="u41_div" class=""></div>
        <div id="u41_text" class="text ">
            <p><span>让每个人都能享受科技的乐趣</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u42" class="ax_default" data-left="690" data-top="786" data-width="526" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u43" class="ax_default paragraph">
            <div id="u43_div" class=""></div>
            <div id="u43_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">简体</span><span style="font-family:'ArialMT', 'Arial';">&nbsp; |&nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">繁体</span><span style="font-family:'ArialMT', 'Arial';">&nbsp; |&nbsp; English&nbsp;&nbsp; |&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">常见问题</span><span style="font-family:'ArialMT', 'Arial';"> |&nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">隐私政策</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u44" class="ax_default paragraph">
            <div id="u44_div" class=""></div>
            <div id="u44_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">小强公司版权所有</span><span style="font-family:'ArialMT', 'Arial';">·</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">粤</span><span style="font-family:'ArialMT', 'Arial';">ICP</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">备 1008888 京公网安备 110010803202424号·京ICP证 110502号 </span></p>
            </div>
        </div>
    </div>
</div>
<script src="../js/resources/scripts/axure/ios.js"></script>
</body>
<script>
    function login(){
        $.ajax({
            url:'../goods/login',
            type:'post',
            data:$("#loginForm").serialize(),
            dataType:"json",
            success:function(data){
                if(data.code != 0){
                    alert(data.msg);
                }else{
                    location.href="../page/toMeTeacher";
                }

            }




        })
    }
</script>
</html>